header.header 
    div.container
        .header_row
            .header_menu
                a(href="index.html").logo
                    img(src="./assets/imgs/logo.png", alt="logo").logo_img
                .header_links
                    a(href="#").link_pink Home
                    a(href="#").link Product
                    a(href="#").link Pricing 
                    a(href="#").link Testimonials 
                    a(href="#").link Contact Us
                .header_but 
                    a(href="#").link_but Buy Now
            .header_content
                .header_content-text
                    span.header-span Sweet fun, full of milk.
                    
                    h1.header-title Feel inside cold with our delicious 
                        span.header-title_pink ice-cream.
                    p.header-description Some food has looked so awful that it's looked like something that the dog's brought home, yet after one mouthful I've been left eating my thoughts, my words.
                        
                    a(href="#").link_but2 Buy Now

                .header_content-img
                    img(src="./assets/imgs/ellipse big.png", alt="el-big").el-big
                    img(src="./assets/imgs/ellipse sm.png", alt="el-sm").el-sm
                    img(src="./assets/imgs/milk.png", alt="milk").milk
                    img(src="./assets/imgs/ice glass.png", alt="ice-gl").ice-gl
                