.price-section
    div.container
        .price-section_text
            h3.price-section_title Our Product
            .price-section_menu
                nav.menu
                    ul.list 
                        li.item_list 
                            a.item-red(href="#") ICE CREAM
                        li.item_list 
                            a.item-gr(href="#") CAYENNE CHOCOLATE
                        li.item_list 
                            a.item-gr(href="#") CAKE BATTER
                        li.item_list 
                            a.item-gr(href="#") CANDY CANE
                        li.item_list 
                            a.item-gr(href="#") PLATTERS
                        li.item_list 
                            a.item-gr(href="#") DESSERT
        .price-section_box
            .box-content
                .box-img
                    img(src="./assets/imgs/ice-green.png", alt="ice-green").ice-green
                .box-text
                    h4.ice-green-text Brown bread
                    p.ice-green-description Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
                    p.ice-green_price $19.55
                        span.ice-green_price-non $22.55     
                    a(href="#").box-but Buy Now
            .box-content-rev
                .box-img
                    img(src="./assets/imgs/ice-yellow.png", alt="ice-green").ice-yellow
                .box-text-rev
                    h4.ice-green-text Cayenne chocolate
                    p.ice-green-description Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
                    p.ice-green_price $19.55
                        span.ice-green_price-non $22.55     
            a(href="#").box-but Buy Now
                 