.second-section
    div.container
        .second-section_row
            .second-section_content
                h2.second-section_title Brown Sugar Oatmea
                p.second-section_text Together with McDonald’s, Burger King has grown to become synonymous with burgers in the US.Together with McDonald’s, Burger King has grown to become synonymous.
                .second-section_but 
                    a(href="#").sec_but See Details 

            .second-section_img
                img(src="./assets/imgs/ice sm.png", alt="ice sm").ice-sm
                img(src="./assets/imgs/ellipse 2sec.png", alt="ice sm").ell-2sec
