// переменные 
//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: rgba(242, 206, 218, 0.3);//основной цвет макета
$c-secondary: #D23166;//дополнительный цвет макета
$c-text: #0F0101;//основной цвет текста макета
$c-text2: #000000;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Roboto', sans-serif;//основной
$headers-font: 'Hind Madurai', sans-serif;//для заголовков
$secondary-font: 'Fredoka One', sans-serif;//дополнительный
